body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Arial";
}

#wrapper {
  margin: 10px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
}

header {
  font-size: 20px;
}

/*GRID Layout and Use of IDS*/
#gridContainer {
  padding: 0 0 0 0;
  margin: 0 0 10px 0; 
  display: grid;
  grid-template-columns: auto, auto, auto;
  grid-gap: 10px;
  background-color: #fd7463;
  font-family: "Alegreya";
  
  
}

/* Text Alignmnet */
#gridContainer > #gridItem1 {
  grid-column: 1;
  text-align: right; 
  grid-row: 1;
  width: 100px;
  font-size: 16pt;
  margin: auto;
}

#gridContainer > #gridItem2 {
  grid-row: 1;
  grid-column: 2;
  margin: auto;
}

#gridContainer > #gridItem3 {
  grid-row: 1;
  grid-column: 3/4;
  text-align: right;
  padding-right: 20px;
}

nav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #250362;

}

/* Add a color to the active/current link */
nav a.active {
  background-color: #f04c23;
  color: white;
}

#intro {
  background-color: #109999;
  color: white; 
  padding: 50px;
  font-size: large;
  border-radius: 5px;
}

#flex {
  display: flex;
  flex-direction: row;
}

form {
  background: #109999;
  border-radius: 3px; 
  padding: 10px 10px 10px 10px;
  color: white;
  max-width: 900px;

}

/* FAQ Page */
.questions {
  margin: 10px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
}

.userStories{
  background: #109999;
  border-radius: 10px; 
  padding: 10px 10px 10px 10px;
  color: white;
  text-align: center;
}

#select{
  background-color: #109999;
  color: white; 
  padding: 40px;
  margin: 10px;
  font-size: large;
  border-radius: 20px;
}

#group{
  text-align: center;
  background-color: #109999;
  opacity: 0;
}

#group:hover{
  opacity: 1;
}

#private{
  text-align: center;
  background-color: #109999;
  opacity:0;
}

#private:hover{
  opacity: 1;
}

#emergency{
  text-align: center;
  background-color: #109999;
  opacity: 0;
}

#emergency:hover{
  opacity: 1;
}



/*RESPONSIVE DESIGN */
@media only screen and (max-width: 900px){
  #flex {
    flex-wrap: wrap;
  }
}
